@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Mulish', sans-serif;
}

#sky{
    width: 571px;
    height: auto;
    
}
#rocket{
    width: 140px;
    height: auto;
    margin-left: -348px;
    margin-top: -161px;
}
#row{
    align-items: center;
    height: 90vh;
}
.home_title h1 span{
    color: #8790e7 !important;
}
.getstart{
    border: 2px #8790e7 solid;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px 25px;
}
.getstart:hover{
    background-color: #8790e7;
    color: #fff;
    transition: 0.3s ease-in;
}

/* Animation Start */
#rocket{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }
  @-webkit-keyframes up-down{
    0%{
      transform: translateY(35px);
    }
    100%{
      transform: translateY(-35px);
    }
  }
  @keyframes up-down{
    0%{
      transform: translateY(35px);
    }
    100%{
      transform: translateY(-35px);
    }
  }

/* Responsiveness start */

@media only screen and (max-width: 1400px) {
    .home_img{
        margin-left: -50px;
    }
}
@media only screen and (max-width: 1200px) {
    .home_img{
        margin-left: -240px;
        text-align: center;
        margin-top: 112px;
    }
    .home_title{
        margin-left: 215px;
        margin-top: 50px;
    }
}
@media only screen and (max-width: 992px) {
    .home_title{
        margin-left: 108px;
    }
}
@media only screen and (max-width: 768px) {
    .home_title{
        margin-left: 40px;
        margin-top: 35px;
    }
}
@media only screen and (max-width: 576px) {
    #sky {
        width: 430px;
        height: auto;
    }
    #rocket {
        width: 96px;
        height: auto;
        margin-left: -258px;
        margin-top: -90px;
    }
    .home_img {
        margin-left: -154px;
        text-align: center;
        margin-top: -10px;
    }
    .home_title{
        margin-top: -155px;
        margin-left: 92px;
    }

}
@media only screen and (max-width: 510px) {
    .home_title{
        /* margin-top: -155px; */
        margin-left: 68px;
    }
}
    @media only screen and (max-width: 450px) {
        .home_title{
            margin-top: -191px;
            margin-left: 41px;
        }
        #sky {
            width: 335px;
            height: auto;
        }
        #rocket {
            width: 77px;
            height: auto;
            margin-left: -201px;
        }
        .home_img {
            margin-left: -134px;
            text-align: center;
        }
    }
    @media only screen and (max-width: 410px) {
        .home_title{
            /* margin-top: -155px; */
            margin-left: 23px;
        }
        .home_title p{
            font-size: 15px;
        }

    }
    @media only screen and (max-width: 390px) {
        .home_title{
            /* margin-top: -155px; */
            margin-left: 17px;
        }
    }
    @media only screen and (max-width: 360px) {
        .home_title{
            /* margin-top: -155px; */
            margin-left: 5px;
        }
        #sky {
            width: 305px;
            height: auto;
        }
        #rocket {
            width: 77px;
            height: auto;
            margin-left: -187px;
        }
        .home_img {
            margin-left: -118px;
            text-align: center;
        }
        .home_title p{
            font-size: 13px;
        }
        .home_title h1{
            font-size: 23px;
        }
        .home_title{
            /* margin-top: -155px; */
            margin-left: 16px;
        }
    }

